/*MAIN*/
.main{
    background-color: blanc-ivoir;
 }


 body{
    margin:0;
    font-family: 'Quicksand', sans-serif;
    width:auto;
 }
 
 h1, h2, h3, h4, h5, h6{
    font-family: 'Paytone One';
    color: #0F1322;
 }
 
 h2{
   font-size: 25px;
 }

 h3{
   font-size: 20px;
 }