/*MAIN*/
.main{
    background-color: #F6F2EA;
 }


 body{
    margin:0;
    font-family: 'Quicksand', sans-serif;
    width:auto;
    background-color: #F6F2EA;
 }
 
 h1, h2, h3, h4, h5, h6{
    font-family: 'Paytone One';
    color: #0F1322;
 }
 
 h2{
   font-size: 25px;
 }

 h3{
   font-size: 20px;
 }

 .img-article{
    width: 80%;
    height: auto;
 }

 .grid {
   display:grid;
   align-content:space-between;
 }