/*MAIN*/
.main{
    background-color: #F6F2EA;
 }


 body{
    margin:0;
    font-family: 'Quicksand', sans-serif;
    width:auto;
    background-color: #F6F2EA;
 }

 
 h1, h2, h3, h4, h5, h6{
    font-family: 'Paytone One';
    color: #171c30;
 }

 .strokehomepage-motiondesign, .strokehomepage-webdesign, .strokehomepage-graphisme  {
   -webkit-text-stroke-width: 2px;
   -webkit-text-stroke-color: #0F1322;
 }

 .strokehomepage-motiondesign:hover  {
   -webkit-text-stroke-color: #ACB0FF;
   color: #ACB0FF;
   cursor:pointer;
 }

 .strokehomepage-webdesign:hover  {
   -webkit-text-stroke-color: #FFDEAC;
   color: #FFDEAC;
   cursor:pointer;
 }

 .strokehomepage-graphisme:hover  {
   -webkit-text-stroke-color: #FFACAC;
   color: #FFACAC;
   cursor:pointer;
 }

 .portfoliostyle{
   -webkit-text-stroke-width: 3px;
   -webkit-text-stroke-color: #892DFF;
 }

/* Style pour les écrans de petite taille (mobile) */
@media only screen and (max-width: 600px) {
   .portfoliostyle {
      -webkit-text-stroke-width: 1.5px; /* Ajustez l'épaisseur du trait pour les petits écrans */
   }
 }

 p {
   color: #171c30;
}
 
 h2{
   font-size: 25px;
 }

 h3{
   font-size: 20px;
 }

 .img-article{
    width: 80%;
    height: auto;
 }

 .grid {
   display:grid;
   align-content:space-between;
 }