/*CIRCLES*/
.cercle-purple{
    position: absolute;
    width:520px;
    top: 50px; /* Specify the desired top position */
    left: -100px; /* Specify the desired left position */
  }
  
  .cercle-orange{
    position: absolute;
    width:250px;
    top: 320px; /* Specify the desired top position */
    left: 240px; /* Specify the desired left position */
  }
  
  .cercle-vert{
    position: absolute;
    width:240px;
    top: 0px; /* Specify the desired top position */
    left: 180px; /* Specify the desired left position */
    z-index:0;
  }
  
  .cercle-rouge{
    position: absolute;
    width:300px;
    top: 100px; /* Specify the desired top position */
    z-index:0;
  }

  .shadowbulle{
    filter: drop-shadow(4px 0px 0px #171C30);
  }


.filter-gris{
  content:"";
  position:absolute;
  /* top:150px; */
  width:90%;
  background-size: cover;
  filter:grayscale(100%);
  transition:0.35s;
  }



.filter-gris:hover{
  filter:none;
}

.glassmorphisme{
  border-radius: 10px;
  background: rgba(255, 255, 255, 0.15);
  box-shadow: 1px 1px 4px 0px rgba(20, 0, 255, 0.25);
  backdrop-filter: blur(1.350000023841858px);
}