 
/*SEARCHBAR STYLE*/
.side{
    background-color: #7e5bb8;
    padding:0px
 }
 .loop{
    background-color: #e7cdff ;
    padding:15px;
 }

 input[type="text"], textarea, input[type="email"] {
    background-color: #F6F2EA;  
    border : none;
    color:#171C30;
    font-size:medium;
    padding: 5px;
    width:100%;
    font-size: 25px;
 }

 input[type="text"]::placeholder{
   color: #9CA3B8;
 }

 input[type="submit"]{
    background-color: #9789F8;
    font-family: Paytone One, sans-serif;
    color: white;
    padding: 10px 20px;
    border: transparent;
    border-radius: 50px;
    width: 240px;
    height: 75px;
    cursor: pointer;
    font-size: 25px;
    margin-top: 10px;
   box-shadow: 10px 12px 0px 0px #0F1322;
}